/* #navbar{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: black;
    color: white;
} */
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background-color: #FEF8E6;
    color: #fff;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 16px;
   }
.nav-links a {
    color: #fff;
}
/* LOGO */
.logo {
    width: 11em;
    height: 3em;
}


#menubar{
    margin: 10px;
}
#saveBtn{
    align-items: right;
}

.links line {
    stroke: rgb(5, 5, 5);
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 10px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
  
svg .rect {
    fill: gold;
    stroke: steelblue;
    stroke-width: 5px;
}

body {
    background-color:white;
}
#network {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black; 
    border-width: 3px;
    background-color: white;
    border-style: solid;
}

.line {
    fill: none;
    stroke-width: 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
}